.mi-wifi-range-extender-ac1200.overview-con {
  background-color: #fff;
  width: 100%;
}
.mi-wifi-range-extender-ac1200.overview-con .f12 {
  font-size: 0.25rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f14 {
  font-size: 0.29167rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f16 {
  font-size: 0.33333rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f18 {
  font-size: 0.375rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f20 {
  font-size: 0.41667rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f22 {
  font-size: 0.45833rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f24 {
  font-size: 0.5rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f26 {
  font-size: 0.54167rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f28 {
  font-size: 0.58333rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f30 {
  font-size: 0.625rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f32 {
  font-size: 0.66667rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f34 {
  font-size: 0.70833rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f36 {
  font-size: 0.75rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f38 {
  font-size: 0.79167rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f40 {
  font-size: 0.83333rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f42 {
  font-size: 0.875rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f44 {
  font-size: 0.91667rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f46 {
  font-size: 0.95833rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f48 {
  font-size: 1rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f50 {
  font-size: 1.04167rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f52 {
  font-size: 1.08333rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f54 {
  font-size: 1.125rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f56 {
  font-size: 1.16667rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f58 {
  font-size: 1.20833rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f60 {
  font-size: 1.25rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f62 {
  font-size: 1.29167rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f64 {
  font-size: 1.33333rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f66 {
  font-size: 1.375rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f68 {
  font-size: 1.41667rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f70 {
  font-size: 1.45833rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f72 {
  font-size: 1.5rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f74 {
  font-size: 1.54167rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f76 {
  font-size: 1.58333rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f78 {
  font-size: 1.625rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f80 {
  font-size: 1.66667rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f82 {
  font-size: 1.70833rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f86 {
  font-size: 1.79167rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f88 {
  font-size: 1.83333rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f90 {
  font-size: 1.875rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f92 {
  font-size: 1.91667rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f98 {
  font-size: 2.04167rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f100 {
  font-size: 2.08333rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f106 {
  font-size: 2.20833rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f108 {
  font-size: 2.25rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f110 {
  font-size: 2.29167rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f114 {
  font-size: 2.375rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f116 {
  font-size: 2.41667rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f120 {
  font-size: 2.5rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f128 {
  font-size: 2.66667rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f130 {
  font-size: 2.70833rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f138 {
  font-size: 2.875rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f140 {
  font-size: 2.91667rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f142 {
  font-size: 2.95833rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f144 {
  font-size: 3rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f146 {
  font-size: 3.04167rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f148 {
  font-size: 3.08333rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f150 {
  font-size: 3.125rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f156 {
  font-size: 3.25rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f160 {
  font-size: 3.33333rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f190 {
  font-size: 3.95833rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f200 {
  font-size: 4.16667rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f248 {
  font-size: 5.16667rem;
}
.mi-wifi-range-extender-ac1200.overview-con .white {
  color: #fff;
}
.mi-wifi-range-extender-ac1200.overview-con .black {
  color: #28292d;
}
.mi-wifi-range-extender-ac1200.overview-con .section {
  box-sizing: border-box;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o1 {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 37.3125rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o1 .text-content {
  margin: 0 auto;
  padding-top: 3.45833rem;
  text-align: center;
  width: 20rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o1 .f100 {
  line-height: 1.2;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o1 .f60 {
  line-height: 1.2;
  margin-top: 0.75rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o2 {
  background-color: #79818d;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o2 .text-content {
  margin: 0 auto;
  padding: 3.125rem 0;
  text-align: center;
  width: 20rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o2 .icon-list {
  display: flex;
  justify-content: space-between;
  margin-top: 2.29167rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o2 .item {
  display: flex;
  flex-direction: column;
  width: 33%;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o2 .icon01 {
  display: block;
  height: 2.58333rem;
  margin: 0 auto;
  width: 3.39583rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o2 .icon02 {
  display: block;
  height: 2.6875rem;
  margin: 0 auto;
  width: 3.375rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o2 .icon03 {
  display: block;
  height: 2.79167rem;
  margin: 0 auto;
  width: 2.79167rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o2 .f40 {
  line-height: 1.3;
  margin-top: 0.66667rem;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o3 {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 32.64583rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o3 .text-content {
  margin: 0 auto;
  padding-top: 4.16667rem;
  text-align: center;
  width: 20rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o3 .f72 {
  line-height: 1.2;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o3 .f40 {
  line-height: 1.5;
  margin-top: 0.41667rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o4 {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 46.89583rem;
  position: relative;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o4 .text-content {
  margin: 0 auto;
  padding-top: 4.16667rem;
  text-align: center;
  width: 20rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o4 .item {
  position: absolute;
  width: 16.66667rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o4 .item01 {
  left: 0.83333rem;
  text-align: start;
  top: 8.04167rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o4 .item02 {
  position: absolute;
  right: 3.95833rem;
  text-align: end;
  top: 38.45833rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o4 .f48 {
  line-height: 1.2;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o4 .f40 {
  line-height: 1.5;
  margin-top: 0.41667rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o5 {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 35.625rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o5 .text-content {
  margin: 0 auto;
  padding-top: 4.16667rem;
  text-align: center;
  width: 20rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o5 .f72 {
  line-height: 1.2;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o5 .f40 {
  line-height: 1.5;
  margin-top: 0.41667rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o6 {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 26.1875rem;
  position: relative;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o6 .text-content {
  margin: 0 auto;
  padding-top: 4.16667rem;
  text-align: center;
  width: 20rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o6 .f72 {
  line-height: 1.2;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o6 .f40 {
  line-height: 1.5;
  margin-top: 0.41667rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o6 .f36 {
  line-height: 1.2;
  position: absolute;
  text-align: center;
  width: 10.20833rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o6 .text01 {
  left: 6.04167rem;
  top: 15.08333rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o6 .text02 {
  left: 6.04167rem;
  top: 16.75rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o7 {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 22.47917rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o7 .text-content {
  margin: 0 auto;
  padding-top: 1.5rem;
  text-align: center;
  width: 20rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o7 .f72 {
  line-height: 1.2;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o7 .f40 {
  line-height: 1.5;
  margin-top: 0.41667rem;
}
.mi-wifi-range-extender-ac1200.specs-con {
  background-color: #fff;
  box-sizing: border-box;
  padding-bottom: 2.08333rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f12 {
  font-size: 0.25rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f14 {
  font-size: 0.29167rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f16 {
  font-size: 0.33333rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f18 {
  font-size: 0.375rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f20 {
  font-size: 0.41667rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f22 {
  font-size: 0.45833rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f24 {
  font-size: 0.5rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f28 {
  font-size: 0.58333rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f30 {
  font-size: 0.625rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f32 {
  font-size: 0.66667rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f36 {
  font-size: 0.75rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f38 {
  font-size: 0.79167rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f40 {
  font-size: 0.83333rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f46 {
  font-size: 0.95833rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f48 {
  font-size: 1rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f50 {
  font-size: 1.04167rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f56 {
  font-size: 1.16667rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f60 {
  font-size: 1.25rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f64 {
  font-size: 1.33333rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f70 {
  font-size: 1.45833rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f72 {
  font-size: 1.5rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f74 {
  font-size: 1.54167rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f76 {
  font-size: 1.58333rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f80 {
  font-size: 1.66667rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f90 {
  font-size: 1.875rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f100 {
  font-size: 2.08333rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f110 {
  font-size: 2.29167rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f120 {
  font-size: 2.5rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f130 {
  font-size: 2.70833rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f140 {
  font-size: 2.91667rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f148 {
  font-size: 3.08333rem;
}
.mi-wifi-range-extender-ac1200.specs-con .f150 {
  font-size: 3.125rem;
}
.mi-wifi-range-extender-ac1200.specs-con .black {
  color: #000;
}
.mi-wifi-range-extender-ac1200.specs-con .gray {
  color: rgba(0, 0, 0, 0.8);
}
.mi-wifi-range-extender-ac1200.specs-con .section-s1 {
  box-sizing: border-box;
  padding: 3.33333rem 2.08333rem 0;
}
.mi-wifi-range-extender-ac1200.specs-con .section-s1 .image {
  height: 15rem;
  margin-top: 2.91667rem;
  width: 18.3125rem;
}
.mi-wifi-range-extender-ac1200.specs-con .section-s2 {
  box-sizing: border-box;
  padding: 1.04167rem 2.04167rem 0;
}
.mi-wifi-range-extender-ac1200.specs-con .section-s2 .text-container {
  padding-bottom: 2.08333rem;
}
.mi-wifi-range-extender-ac1200.specs-con .section-s2 .title {
  opacity: 0.6;
  width: 100%;
}
.mi-wifi-range-extender-ac1200.specs-con .section-s2 .desc {
  border-bottom: 0.02083rem solid #ccc;
  display: flex;
  flex-direction: column;
  margin-top: 0.66667rem;
  padding-bottom: 0.54167rem;
  width: 100%;
}
.mi-wifi-range-extender-ac1200.specs-con .section-s2 .desc01 {
  border-bottom: 0.02083rem solid #ccc;
  display: flex;
  justify-content: flex-start;
  margin-top: 0.66667rem;
  padding-bottom: 0.54167rem;
  width: 100%;
}
.mi-wifi-range-extender-ac1200.specs-con
  .section-s2
  .desc01
  .f38:nth-of-type(2) {
  margin-left: 0.20833rem;
  width: 70%;
}
.mi-wifi-range-extender-ac1200.specs-con .section-s2 .f38:first-of-type {
  width: 30%;
}
.mi-wifi-range-extender-ac1200.specs-con .section-s3 {
  box-sizing: border-box;
  padding: 1.04167rem 2.04167rem 0;
}
.mi-wifi-range-extender-ac1200.specs-con .section-s3 .text-container {
  padding-bottom: 3.33333rem;
}
.mi-wifi-range-extender-ac1200.specs-con .section-s3 .title {
  opacity: 0.6;
  width: 100%;
}
.mi-wifi-range-extender-ac1200.specs-con .section-s3 .desc {
  border-bottom: 0.02083rem solid #ccc;
  display: flex;
  flex-direction: column;
  margin-top: 0.66667rem;
  padding-bottom: 0.54167rem;
  width: 100%;
}
.mi-wifi-range-extender-ac1200.specs-con .section-s3 .tips {
  margin-top: 0.83333rem;
}
.mi-wifi-range-extender-ac1200.specs-con .section-s3 .tips .f38 {
  opacity: 0.6;
}

.swiper-container {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 1;
}
.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}
.swiper-wrapper {
  box-sizing: content-box;
  display: flex;
  height: 100%;
  position: relative;
  transition-property: transform;
  width: 100%;
  z-index: 1;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translateZ(0);
}
.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap;
}
.swiper-container-multirow-column > .swiper-wrapper {
  flex-direction: column;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  margin: 0 auto;
  transition-timing-function: ease-out;
}
.swiper-container-pointer-events {
  touch-action: pan-y;
}
.swiper-container-pointer-events.swiper-container-vertical {
  touch-action: pan-x;
}
.swiper-slide {
  flex-shrink: 0;
  height: 100%;
  position: relative;
  transition-property: transform;
  width: 100%;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}
.swiper-container-3d {
  perspective: 1200px;
}
.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
  transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-container-css-mode > .swiper-wrapper {
  -ms-overflow-style: none;
  overflow: auto;
  scrollbar-width: none;
}
.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}
.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}
.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}
.mi-modal.mi-modal--desktop .mi-modal__content.notify-pc-modal {
  min-width: 560px;
  width: 850px;
}

.xm-page-area_mobile .buy-container {
  background-color: #fafafa;
  height: auto;
  position: absolute;
  transform: translateY(-112%);
  transition: transform 0.5s ease;
  width: 100%;
  z-index: 5;
}
.xm-page-area_mobile .buy-container::-webkit-scrollbar {
  display: none;
}
.xm-page-area_mobile .buy-container .product__main {
  border-top: none !important;
}
.xm-page-area_mobile .buy-container.buy-container--hide > #root-chunk {
  display: none !important;
}
.xm-page-area_mobile .root-product__footer {
  opacity: 0;
}
.xm-page-area .buy-container {
  background-color: #fafafa;
  display: none;
  transition: height 0.5s ease;
  width: 100%;
}
.xm-page-area .buy-container::-webkit-scrollbar {
  display: none;
}
.xm-page-area .buy-container .product__main {
  border-top: none !important;
}
.hide-pc {
  display: none !important;
}

.icon-custom-service:before {
  content: "";
}
.icon-poco-live-quiz:before {
  content: "";
}
.icon-poco-custom-service:before {
  content: "";
}
.icon-poco-live-poll:before {
  content: "";
}
.icon-poco-live-send:before {
  content: "";
}
.icon-poco-live-shopping-bag:before {
  content: "";
}
.icon-poco-live-coupon:before {
  content: "";
}
.icon-share-fill:before {
  content: "";
}
.icon-thumb-up:before {
  content: "";
}
.icon-poco-circle-on:before {
  content: "";
}
.icon-poco-circle:before {
  content: "";
}
.icon-poco-home:before {
  content: "";
}
.icon-poco-me-on:before {
  content: "";
}
.icon-poco-service:before {
  content: "";
}
.icon-poco-me:before {
  content: "";
}
.icon-poco-service-on:before {
  content: "";
}
.icon-poco-home-on:before {
  content: "";
}
.icon-poco:before {
  content: "";
}
.icon-xiangyouxuanzhuan:before {
  content: "";
}
.icon-xiangzuoxuanzhuan:before {
  content: "";
}
.icon-quanping:before {
  content: "";
}
.icon-tuichuquanping:before {
  content: "";
}
.icon-top:before {
  content: "";
}
.icon-share-review:before {
  content: "";
}
.icon-reply:before {
  content: "";
}
.icon-eyes:before {
  content: "";
}
.icon-gengduo1:before {
  content: "";
}
.icon-arrow-up:before {
  content: "";
}
.icon-dianzan:before {
  content: "";
}
.icon-help-unsolve:before {
  content: "";
}
.icon-help-solve:before {
  content: "";
}
.icon-help-phone:before {
  content: "";
}
.icon-help-letters:before {
  content: "";
}
.icon-radio-checked:before {
  content: "";
}
.icon-radio-unchecked:before {
  content: "";
}
.icon-live-shopping-bag:before {
  content: "";
}
.icon-more:before {
  content: "";
}
.icon-live-send:before {
  content: "";
}
.icon-live-poll:before {
  content: "";
}
.icon-live-coupon:before {
  content: "";
}
.icon-live-quiz:before {
  content: "";
}
.icon-favorite:before {
  content: "";
}
.icon-smile:before {
  content: "";
}
.icon-lamp-bulb:before {
  content: "";
}
.icon-earphone:before {
  content: "";
}
.icon-love:before {
  content: "";
}
.icon-cellphone:before {
  content: "";
}
.icon-mouse:before {
  content: "";
}
.icon-power-bank:before {
  content: "";
}
.icon-loudspeaker:before {
  content: "";
}
.icon-band:before {
  content: "";
}
.icon-luggage:before {
  content: "";
}
.icon-help-message:before {
  content: "";
}
.icon-telephone-service:before {
  content: "";
}
.icon-manual-service:before {
  content: "";
}
.icon-vk:before {
  content: "";
}
.icon-line:before {
  content: "";
}
.icon-whatsapp:before {
  content: "";
}
.icon-Arrow:before {
  content: "";
}
.icon-mi-logo:before {
  content: "";
}
.icon-copy:before {
  content: "";
}
.icon-pc:before {
  content: "";
}
.icon-bell:before {
  content: "";
}
.icon-miui:before {
  content: "";
}
.icon-free:before {
  content: "";
}
.icon-car:before {
  content: "";
}
.icon-cart-add:before {
  content: "";
}
.icon-cart-checked:before {
  content: "";
}
.icon-cart-del:before {
  content: "";
}
.icon-arrow-down-tri:before {
  content: "";
}
.icon-arrow-left-s:before {
  content: "";
}
.icon-arrow-right-s:before {
  content: "";
}
.icon-arrow-up-l:before {
  content: "";
}
.icon-arrow-down-l:before {
  content: "";
}
.icon-facebook:before {
  content: "";
}
.icon-youtube:before {
  content: "";
}
.icon-twitter:before {
  content: "";
}
.icon-ins:before {
  content: "";
}
.icon-secure-payment:before {
  content: "";
}
.icon-service-network:before {
  content: "";
}
.icon-replacement:before {
  content: "";
}
.icon-google:before {
  content: "";
}
.icon-cart-add-24:before {
  content: "";
}
.icon-arrow-right-l:before {
  content: "";
}
.icon-arrow-left-l:before {
  content: "";
}
.icon-arrow-down-s:before {
  content: "";
}
.icon-arrow-up-s:before {
  content: "";
}
.icon-cart-empty-24:before {
  content: "";
}
.icon-price-down:before {
  content: "";
}
.icon-price-up:before {
  content: "";
}
.icon-checked:before {
  content: "";
}
.icon-cart-full-24:before {
  content: "";
}
.icon-search-24:before {
  content: "";
}
.icon-minus:before {
  content: "";
}
.icon-plus:before {
  content: "";
}
.icon-f:before {
  content: "";
}
.icon-arrow-right:before {
  content: "";
}
.icon-down:before {
  content: "";
}
.icon-jiantou:before {
  content: "";
}
.icon-select-arrow:before {
  content: "";
}
.icon-milogo:before {
  content: "";
}
.icon-remind:before {
  content: "";
}
.icon-copylink:before {
  content: "";
}
.icon-location:before {
  content: "";
}
.icon-track:before {
  content: "";
}
.icon-arrowlittle:before {
  content: "";
}
.icon-check:before {
  content: "";
}
.icon-back:before {
  content: "";
}
.icon-info:before {
  content: "";
}
.icon-edit:before {
  content: "";
}
.icon-share:before {
  content: "";
}
.icon-delete:before {
  content: "";
}
.icon-question:before {
  content: "";
}
.icon-m-home:before {
  content: "";
}
.icon-star-orange:before {
  content: "";
}
.icon-s-time:before {
  content: "";
}
.icon-s-locate:before {
  content: "";
}
.icon-s-phone:before {
  content: "";
}
.icon-s-warranty:before {
  content: "";
}
.icon-cleartext:before {
  content: "";
}
.icon-close:before {
  content: "";
}
.icon-star1:before {
  content: "";
}
.icon-delivery:before {
  content: "";
}
.icon-tag:before {
  content: "";
}
.icon-delivery1:before {
  content: "";
}
.icon-pullup:before {
  content: "";
}
.icon-pulldown:before {
  content: "";
}
.icon-volume:before {
  content: "";
}
.icon-star:before {
  content: "";
}
.icon-miextendedwarranty:before {
  content: "";
}
.icon-mute:before {
  content: "";
}
.icon-miprotect:before {
  content: "";
}
.icon-like:before {
  content: "";
}
.icon-chat:before {
  content: "";
}
.icon-google_x:before {
  content: "";
}
.icon-facebook_x:before {
  content: "";
}
.icon-email:before {
  content: "";
}
.icon-twitter_x:before {
  content: "";
}
.icon-hotline:before {
  content: "";
}
.icon-youtube_x:before {
  content: "";
}
.icon-vk_x:before {
  content: "";
}
.icon-line_x:before {
  content: "";
}
.icon-instagram_x:before {
  content: "";
}
.icon-nation:before {
  content: "";
}
.icon-account:before {
  content: "";
}
.icon-cart:before {
  content: "";
}
.icon-category:before {
  content: "";
}
.icon-home:before {
  content: "";
}
.icon-message:before {
  content: "";
}
.icon-discovery:before {
  content: "";
}
.icon-search:before {
  content: "";
}
.icon-search_bar:before {
  content: "";
}
.icon-service:before {
  content: "";
}
.icon-setting:before {
  content: "";
}

li {
  list-style: none;
}

body > img,
head > img,
html > img {
  display: none;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
}


.xm-text {
  display: inline-block;
  white-space: break-spaces !important;
}
.xm-blur {
  opacity: 0.3 !important;
}
.hide {
  display: none !important;
}
.xm-page-hide {
  height: 0;
  position: absolute;
}

.xm-picture .xm-img {
  width: 100%;
}
.xm-img {
  color: transparent;
}
.xm-img:not([src]),
.xm-img[src=""] {
  visibility: hidden;
}
.xm-picture {
  display: inline-flex;
}
.eg .xm-text,
.gcc .xm-text,
.sa .xm-text {
  display: block;
}

.section {
  background-repeat: no-repeat;
  margin-bottom: -1px;
  position: relative;
}
.xm-page-area > main,
.xm-page-area_mobile > main {
  position: relative;
  z-index: 1;
}

.kh .xm-text,
.mm .xm-text,
.th .xm-text {
  line-height: 1.5 !important;
}

.xiaomi.icon-arrow-up:before {
  content: "";
}
.xiaomi.icon-dianzan:before {
  content: "";
}
.xiaomi.icon-help-unsolve:before {
  content: "";
}
.xiaomi.icon-help-solve:before {
  content: "";
}
.xiaomi.icon-help-phone:before {
  content: "";
}
.xiaomi.icon-help-letters:before {
  content: "";
}
.xiaomi.icon-xuanzhong:before {
  content: "";
}
.xiaomi.icon-weixuanze:before {
  content: "";
}
.xiaomi.icon-shangpintubiao:before {
  content: "";
}
.xiaomi.icon-gengduo:before {
  content: "";
}
.xiaomi.icon-fasongicon:before {
  content: "";
}
.xiaomi.icon-toupiao:before {
  content: "";
}
.xiaomi.icon-youhuijuan:before {
  content: "";
}
.xiaomi.icon-dati:before {
  content: "";
}
.xiaomi.icon-shoucang:before {
  content: "";
}
.xiaomi.icon-xiaolian:before {
  content: "";
}
.xiaomi.icon-dengpao:before {
  content: "";
}
.xiaomi.icon-erji:before {
  content: "";
}
.xiaomi.icon-aixin:before {
  content: "";
}
.xiaomi.icon-shouji:before {
  content: "";
}
.xiaomi.icon-shubiao:before {
  content: "";
}
.xiaomi.icon-chongdianbao:before {
  content: "";
}
.xiaomi.icon-yinxiang:before {
  content: "";
}
.xiaomi.icon-shouhuan:before {
  content: "";
}
.xiaomi.icon-hanglixiang:before {
  content: "";
}
.xiaomi.icon-help-message:before {
  content: "";
}
.xiaomi.icon-telephone-service:before {
  content: "";
}
.xiaomi.icon-manual-service:before {
  content: "";
}
.xiaomi.icon-vk:before {
  content: "";
}
.xiaomi.icon-line:before {
  content: "";
}
.xiaomi.icon-whatsapp:before {
  content: "";
}
.xiaomi.icon-Arrow:before {
  content: "";
}
.xiaomi.icon-mi-logo:before {
  content: "";
}
.xiaomi.icon-copy:before {
  content: "";
}
.xiaomi.icon-pc:before {
  content: "";
}
.xiaomi.icon-bell:before {
  content: "";
}
.xiaomi.icon-miui:before {
  content: "";
}
.xiaomi.icon-free:before {
  content: "";
}
.xiaomi.icon-car:before {
  content: "";
}
.xiaomi.icon-cart-add:before {
  content: "";
}
.xiaomi.icon-cart-checked:before {
  content: "";
}
.xiaomi.icon-cart-del:before {
  content: "";
}
.xiaomi.icon-arrow-down-tri:before {
  content: "";
}
.xiaomi.icon-arrow-left-s:before {
  content: "";
}
.xiaomi.icon-arrow-right-s:before {
  content: "";
}
.xiaomi.icon-arrow-up-l:before {
  content: "";
}
.xiaomi.icon-arrow-down-l:before {
  content: "";
}
.xiaomi.icon-facebook:before {
  content: "";
}
.xiaomi.icon-youtube:before {
  content: "";
}
.xiaomi.icon-twitter:before {
  content: "";
}
.xiaomi.icon-ins:before {
  content: "";
}
.xiaomi.icon-secure-payment:before {
  content: "";
}
.xiaomi.icon-service-network:before {
  content: "";
}
.xiaomi.icon-replacement:before {
  content: "";
}
.xiaomi.icon-google:before {
  content: "";
}
.xiaomi.icon-cart-add-24:before {
  content: "";
}
.xiaomi.icon-arrow-right-l:before {
  content: "";
}
.xiaomi.icon-arrow-left-l:before {
  content: "";
}
.xiaomi.icon-arrow-down-s:before {
  content: "";
}
.xiaomi.icon-arrow-up-s:before {
  content: "";
}
.xiaomi.icon-cart-empty-24:before {
  content: "";
}
.xiaomi.icon-price-down:before {
  content: "";
}
.xiaomi.icon-price-up:before {
  content: "";
}
.xiaomi.icon-checked:before {
  content: "";
}
.xiaomi.icon-cart-full-24:before {
  content: "";
}
.xiaomi.icon-search-24:before {
  content: "";
}
.xiaomi.icon-minus:before {
  content: "";
}
.xiaomi.icon-plus:before {
  content: "";
}
.xiaomi.icon-f:before {
  content: "";
}
.xiaomi.icon-arrow-right:before {
  content: "";
}
.xiaomi.icon-down:before {
  content: "";
}
.xiaomi.icon-jiantou:before {
  content: "";
}
.xiaomi.icon-select-arrow:before {
  content: "";
}
.xiaomi.icon-milogo:before {
  content: "";
}
.xiaomi.icon-remind:before {
  content: "";
}
.xiaomi.icon-copylink:before {
  content: "";
}
.xiaomi.icon-location:before {
  content: "";
}
.xiaomi.icon-track:before {
  content: "";
}
.xiaomi.icon-arrowlittle:before {
  content: "";
}
.xiaomi.icon-check:before {
  content: "";
}
.xiaomi.icon-back:before {
  content: "";
}
.xiaomi.icon-info:before {
  content: "";
}
.xiaomi.icon-edit:before {
  content: "";
}
.xiaomi.icon-share:before {
  content: "";
}
.xiaomi.icon-delete:before {
  content: "";
}
.xiaomi.icon-question:before {
  content: "";
}
.xiaomi.icon-m-home:before {
  content: "";
}
.xiaomi.icon-star-orange:before {
  content: "";
}
.xiaomi.icon-s-time:before {
  content: "";
}
.xiaomi.icon-s-locate:before {
  content: "";
}
.xiaomi.icon-s-phone:before {
  content: "";
}
.xiaomi.icon-s-warranty:before {
  content: "";
}
.xiaomi.icon-cleartext:before {
  content: "";
}
.xiaomi.icon-close:before {
  content: "";
}
.xiaomi.icon-star1:before {
  content: "";
}
.xiaomi.icon-delivery:before {
  content: "";
}
.xiaomi.icon-tag:before {
  content: "";
}
.xiaomi.icon-delivery1:before {
  content: "";
}
.xiaomi.icon-pullup:before {
  content: "";
}
.xiaomi.icon-pulldown:before {
  content: "";
}
.xiaomi.icon-volume:before {
  content: "";
}
.xiaomi.icon-star:before {
  content: "";
}
.xiaomi.icon-miextendedwarranty:before {
  content: "";
}
.xiaomi.icon-mute:before {
  content: "";
}
.xiaomi.icon-miprotect:before {
  content: "";
}
.xiaomi.icon-like:before {
  content: "";
}
.xiaomi.icon-chat:before {
  content: "";
}
.xiaomi.icon-google_x:before {
  content: "";
}
.xiaomi.icon-facebook_x:before {
  content: "";
}
.xiaomi.icon-email:before {
  content: "";
}
.xiaomi.icon-twitter_x:before {
  content: "";
}
.xiaomi.icon-hotline:before {
  content: "";
}
.xiaomi.icon-youtube_x:before {
  content: "";
}
.xiaomi.icon-vk_x:before {
  content: "";
}
.xiaomi.icon-line_x:before {
  content: "";
}
.xiaomi.icon-instagram_x:before {
  content: "";
}
.xiaomi.icon-nation:before {
  content: "";
}
.xiaomi.icon-account:before {
  content: "";
}
.xiaomi.icon-cart:before {
  content: "";
}
.xiaomi.icon-category:before {
  content: "";
}
.xiaomi.icon-home:before {
  content: "";
}
.xiaomi.icon-message:before {
  content: "";
}
.xiaomi.icon-discovery:before {
  content: "";
}
.xiaomi.icon-search:before {
  content: "";
}
.xiaomi.icon-search_bar:before {
  content: "";
}
.xiaomi.icon-service:before {
  content: "";
}
.xiaomi.icon-setting:before {
  content: "";
}

[hidden] {
  display: none;
}

b,
strong {
  font-weight: 700;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  height: auto;
  vertical-align: middle;
}
form {
  margin: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  outline: none;
  vertical-align: baseline;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: content-box;
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input::-moz-placeholder {
  color: #ccc;
}
input::placeholder {
  color: #ccc;
}
textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
td,
th {
  padding: 0;
}
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
menu,
ol,
p,
ul {
  margin: 0;
}
menu,
ol,
ul {
  list-style: none;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
.eco_name-72 {
  font-size: 1.5rem;
  line-height: 1.875rem;
}
.eco_name-64 {
  font-size: 1.33333rem;
  line-height: 1.66667rem;
}
.eco_kv-slogan {
  font-size: 1rem;
  line-height: 1.25rem;
}
.eco_kv-ksp {
  font-size: 0.625rem;
  line-height: 0.91667rem;
}
.eco_kv-label {
  border-radius: 0.08333rem;
  font-size: 0.75rem;
  line-height: 1.08333rem;
}
.eco_ksp-title {
  font-size: 0.83333rem;
  line-height: 1rem;
}
.eco_ksp-text {
  font-size: 0.75rem;
  line-height: 1rem;
}
.eco_ksp-item {
  padding: 1.04167rem;
}
.eco_title {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.eco_note,
.eco_text {
  font-size: 0.75rem;
  line-height: 0.91667rem;
}
.eco_number {
  font-size: 2.29167rem;
  line-height: 2.29167rem;
}
.eco_note-text {
  font-size: 0.75rem;
  line-height: 0.91667rem;
}
.eco_specs-title {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.eco_specs-label,
.eco_specs-value {
  font-size: 0.75rem;
  line-height: 0.91667rem;
}
.f-thin {
  font-weight: 100;
}
.f-extra {
  font-weight: 200;
}
.f-light {
  font-weight: 300;
}
.f-regular {
  font-weight: 400;
}
.f-medium {
  font-weight: 500;
}
.f-semi {
  font-weight: 600;
}
.f-bold {
  font-weight: 700;
}
.f-bolder {
  font-weight: 800;
}
.f-heavy {
  font-weight: 900;
}
.xm-button,
.xm-navbar__nav-item,
.xm-price {
  font-weight: 400 !important;
}
.price-common {
  font-weight: 300 !important;
}
.price-common .xm-price--current .xm-price__label,
.price-common .xm-price__sNum {
  font-weight: 700 !important;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

main {
  font-size: 0.75rem;
}

