.mi-wifi-range-extender-ac1200.overview-con {
  width: 100%;
}
.mi-wifi-range-extender-ac1200.overview-con .f12 {
  font-size: 0.04688rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f14 {
  font-size: 0.05469rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f16 {
  font-size: 0.0625rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f18 {
  font-size: 0.07031rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f20 {
  font-size: 0.07813rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f22 {
  font-size: 0.08594rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f24 {
  font-size: 0.09375rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f26 {
  font-size: 0.10156rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f28 {
  font-size: 0.10938rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f30 {
  font-size: 0.11719rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f32 {
  font-size: 0.125rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f34 {
  font-size: 0.13281rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f36 {
  font-size: 0.14063rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f38 {
  font-size: 0.14844rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f40 {
  font-size: 0.15625rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f42 {
  font-size: 0.16406rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f44 {
  font-size: 0.17188rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f46 {
  font-size: 0.17969rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f48 {
  font-size: 0.1875rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f50 {
  font-size: 0.19531rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f52 {
  font-size: 0.20313rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f54 {
  font-size: 0.21094rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f56 {
  font-size: 0.21875rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f58 {
  font-size: 0.22656rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f60 {
  font-size: 0.23438rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f62 {
  font-size: 0.24219rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f64 {
  font-size: 0.25rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f66 {
  font-size: 0.25781rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f68 {
  font-size: 0.26563rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f70 {
  font-size: 0.27344rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f72 {
  font-size: 0.28125rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f74 {
  font-size: 0.28906rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f76 {
  font-size: 0.29688rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f78 {
  font-size: 0.30469rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f80 {
  font-size: 0.3125rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f82 {
  font-size: 0.32031rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f86 {
  font-size: 0.33594rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f88 {
  font-size: 0.34375rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f90 {
  font-size: 0.35156rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f92 {
  font-size: 0.35938rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f98 {
  font-size: 0.38281rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f100 {
  font-size: 0.39063rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f106 {
  font-size: 0.41406rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f108 {
  font-size: 0.42188rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f110 {
  font-size: 0.42969rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f114 {
  font-size: 0.44531rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f116 {
  font-size: 0.45313rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f120 {
  font-size: 0.46875rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f128 {
  font-size: 0.5rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f130 {
  font-size: 0.50781rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f138 {
  font-size: 0.53906rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f140 {
  font-size: 0.54688rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f142 {
  font-size: 0.55469rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f144 {
  font-size: 0.5625rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f146 {
  font-size: 0.57031rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f148 {
  font-size: 0.57813rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f150 {
  font-size: 0.58594rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f156 {
  font-size: 0.60938rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f160 {
  font-size: 0.625rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f190 {
  font-size: 0.74219rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f200 {
  font-size: 0.78125rem;
}
.mi-wifi-range-extender-ac1200.overview-con .f248 {
  font-size: 0.96875rem;
}
.mi-wifi-range-extender-ac1200.overview-con .white {
  color: #fff;
}
.mi-wifi-range-extender-ac1200.overview-con .black {
  color: #28292d;
}
.mi-wifi-range-extender-ac1200.overview-con .section {
  position: relative;
  width: 100%;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o1 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 4.6875rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o1 .text-content {
  color: #28292d;
  letter-spacing: -0.00352rem;
  padding: 1.60156rem 0 0 1.5625rem;
  width: 3.98438rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o1 .f100 {
  line-height: 1.2;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o1 .f36 {
  line-height: 1;
  margin-top: 0.14063rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o1 .price {
  margin-top: 0.21875rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o2 {
  background: #79818d;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o2 .title {
  display: block;
  margin: 0 auto;
  padding-top: 0.56641rem;
  text-align: center;
  width: 4.80469rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o2 .text-content {
  display: flex;
  justify-content: space-around;
  margin: 0.3125rem auto 0;
  padding-bottom: 0.54688rem;
  width: 4.80469rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o2 .item {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 33%;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o2 .icon01 {
  display: block;
  height: 0.35547rem;
  margin: 0 auto;
  width: 0.46875rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o2 .icon02 {
  display: block;
  height: 0.37109rem;
  margin: 0 auto;
  width: 0.46484rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o2 .icon03 {
  display: block;
  height: 0.38281rem;
  margin: 0 auto;
  width: 0.38281rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o2 .feature {
  line-height: 1.3;
  margin-top: 0.10156rem;
  text-align: center;
  width: 100%;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o3 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 4.6875rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o3 .text-content {
  margin: 0 auto;
  padding-top: 0.49219rem;
  text-align: center;
  width: 5.54688rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o3 .f72 {
  line-height: 1.2;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o3 .f26 {
  line-height: 1.3;
  margin-top: 0.08594rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o4 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 4.6875rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o4 .text-content {
  margin: 0 auto;
  padding-top: 0.49219rem;
  text-align: center;
  width: 5.54688rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o4 .f72 {
  display: block;
  line-height: 1.2;
  margin: 0 auto;
  padding-top: 0.41406rem;
  text-align: center;
  width: 4.76563rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o4 .item {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: start;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o4 .item01 {
  bottom: 0.85938rem;
  left: 1.32813rem;
  width: 2.38281rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o4 .item02 {
  left: 6.55469rem;
  top: 2.42188rem;
  width: 2.77344rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o5 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 4.68359rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o5 .text-content {
  padding: 1.64063rem 0 0 1.32813rem;
  text-align: start;
  width: 3.47656rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o5 .f72 {
  line-height: 1.2;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o5 .f26 {
  line-height: 1.3;
  margin-top: 0.08594rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o6 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 3.69922rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o6 .text-content {
  margin: 0 auto;
  padding-top: 0.46875rem;
  text-align: center;
  width: 5.85938rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o6 .f72 {
  line-height: 1.2;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o6 .f26 {
  line-height: 1.3;
  margin-top: 0.08594rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o6 .text {
  color: #fff;
  display: block;
  line-height: 1;
  position: absolute;
  text-align: center;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o6 .text01 {
  left: 3.71094rem;
  top: 1.82813rem;
  width: 2.53906rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o6 .text02 {
  left: 3.71094rem;
  top: 2.25781rem;
  width: 2.53906rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o7 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 4.25391rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o7 .text-content {
  margin: 0 auto;
  padding-top: 0.46875rem;
  text-align: center;
  width: 4.92188rem;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o7 .f72 {
  line-height: 1.2;
}
.mi-wifi-range-extender-ac1200.overview-con .section-o7 .f26 {
  line-height: 1.3;
  margin-top: 0.08594rem;
}
.specs-con {
  background-color: #fff;
  padding: 24px 0 72px;
  width: 100%;
}
.specs-con .f12 {
  font-size: 12px;
}
.specs-con .f14 {
  font-size: 14px;
}
.specs-con .f16 {
  font-size: 16px;
}
.specs-con .f18 {
  font-size: 18px;
}
.specs-con .f20 {
  font-size: 20px;
}
.specs-con .f22 {
  font-size: 22px;
}
.specs-con .f24 {
  font-size: 24px;
}
.specs-con .f28 {
  font-size: 28px;
}
.specs-con .f30 {
  font-size: 30px;
}
.specs-con .f32 {
  font-size: 32px;
}
.specs-con .f36 {
  font-size: 36px;
}
.specs-con .f38 {
  font-size: 38px;
}
.specs-con .f40 {
  font-size: 40px;
}
.specs-con .f46 {
  font-size: 46px;
}
.specs-con .f48 {
  font-size: 48px;
}
.specs-con .f50 {
  font-size: 50px;
}
.specs-con .f56 {
  font-size: 56px;
}
.specs-con .f60 {
  font-size: 60px;
}
.specs-con .f64 {
  font-size: 64px;
}
.specs-con .f70 {
  font-size: 70px;
}
.specs-con .f72 {
  font-size: 72px;
}
.specs-con .f74 {
  font-size: 74px;
}
.specs-con .f76 {
  font-size: 76px;
}
.specs-con .f80 {
  font-size: 80px;
}
.specs-con .f90 {
  font-size: 90px;
}
.specs-con .f100 {
  font-size: 100px;
}
.specs-con .f110 {
  font-size: 110px;
}
.specs-con .f120 {
  font-size: 120px;
}
.specs-con .f130 {
  font-size: 130px;
}
.specs-con .f140 {
  font-size: 140px;
}
.specs-con .f148 {
  font-size: 148px;
}
.specs-con .f150 {
  font-size: 150px;
}
.specs-con .black {
  color: #323232;
}
.specs-con .gray {
  color: #646464;
}
.specs-con .section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  margin: 0 auto;
  position: relative;
  width: 1226px;
}
.specs-con .section:last-child {
  border-bottom: initial;
}
.specs-con .section-s1 {
  border-bottom: 1px solid #e9e9e9;
  list-style: none;
  overflow: hidden;
}
.specs-con .section-s1 .title {
  border-right: 1px solid #e9e9e9;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 300px;
}
.specs-con .section-s1 .items-content {
  color: #999;
  padding-left: 300px;
  position: relative;
}
.specs-con .section-s1 .f24 {
  color: #000;
  font-size: 24px;
  left: 0;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 100%;
}
.specs-con .section-s1 .img-content {
  margin: 20px 0 0 100px;
  padding-bottom: 30px;
}
.specs-con .section-s1 .image {
  display: block;
  height: 359px;
  width: 252px;
}
.specs-con .section-s1 .f18 {
  opacity: 0.5;
  width: -moz-fit-content;
  width: fit-content;
}
.specs-con .section-s2 {
  margin: 0 auto;
  width: 1226px;
}
.specs-con .section-s2 .title {
  border-right: 1px solid #e9e9e9;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 300px;
}
.specs-con .section-s2 .f24 {
  color: #000;
  font-size: 24px;
  left: 0;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 100%;
}
.specs-con .section-s2 .text-container {
  box-sizing: border-box;
  padding: 100px 0 100px 400px;
}
.specs-con .section-s2 .f18 {
  opacity: 0.5;
  width: -moz-fit-content;
  width: fit-content;
}
.specs-con .section-s2 .desc {
  align-items: stretch;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.specs-con .section-s2 .desc .black:first-of-type {
  line-height: 2.5;
  width: 300px;
}
.specs-con .section-s2 .tips {
  line-height: 3;
}
.specs-con .section-s3 {
  margin: 0 auto;
  width: 1226px;
}
.specs-con .section-s3 .title {
  border-right: 1px solid #e9e9e9;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 300px;
}
.specs-con .section-s3 .f24 {
  color: #000;
  font-size: 24px;
  left: 0;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 100%;
}
.specs-con .section-s3 .text-container {
  box-sizing: border-box;
  padding: 100px 0 0 400px;
}
.specs-con .section-s3 .f18 {
  opacity: 0.5;
  width: -moz-fit-content;
  width: fit-content;
}
.specs-con .section-s3 .desc {
  align-items: stretch;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.specs-con .section-s3 .desc:nth-of-type(4) {
  margin-top: 120px;
}
.specs-con .section-s3 .desc .black:first-of-type {
  line-height: 2.5;
  width: -moz-fit-content;
  width: fit-content;
}

.swiper-container {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 1;
}
.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}
.swiper-wrapper {
  box-sizing: content-box;
  display: flex;
  height: 100%;
  position: relative;
  transition-property: transform;
  width: 100%;
  z-index: 1;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translateZ(0);
}
.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap;
}
.swiper-container-multirow-column > .swiper-wrapper {
  flex-direction: column;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  margin: 0 auto;
  transition-timing-function: ease-out;
}
.swiper-container-pointer-events {
  touch-action: pan-y;
}
.swiper-container-pointer-events.swiper-container-vertical {
  touch-action: pan-x;
}
.swiper-slide {
  flex-shrink: 0;
  height: 100%;
  position: relative;
  transition-property: transform;
  width: 100%;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}
.swiper-container-3d {
  perspective: 1200px;
}
.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
  transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-container-css-mode > .swiper-wrapper {
  -ms-overflow-style: none;
  overflow: auto;
  scrollbar-width: none;
}
.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}
.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}
.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.xm-page-area_mobile .buy-container {
  background-color: #fafafa;
  height: auto;
  position: absolute;
  transform: translateY(-112%);
  transition: transform 0.5s ease;
  width: 100%;
  z-index: 5;
}
.xm-page-area_mobile .buy-container::-webkit-scrollbar {
  display: none;
}
.xm-page-area_mobile .buy-container .product__main {
  border-top: none !important;
}
.xm-page-area_mobile .buy-container.buy-container--hide > #root-chunk {
  display: none !important;
}
.xm-page-area_mobile .root-product__footer {
  opacity: 0;
}
.xm-page-area .buy-container {
  background-color: #fafafa;
  display: none;
  transition: height 0.5s ease;
  width: 100%;
}
.xm-page-area .buy-container::-webkit-scrollbar {
  display: none;
}
.xm-page-area .buy-container .product__main {
  border-top: none !important;
}
.hide-pc {
  display: none !important;
}

.icon-custom-service:before {
  content: "";
}
.icon-poco-live-quiz:before {
  content: "";
}
.icon-poco-custom-service:before {
  content: "";
}
.icon-poco-live-poll:before {
  content: "";
}
.icon-poco-live-send:before {
  content: "";
}
.icon-poco-live-shopping-bag:before {
  content: "";
}
.icon-poco-live-coupon:before {
  content: "";
}
.icon-share-fill:before {
  content: "";
}
.icon-thumb-up:before {
  content: "";
}
.icon-poco-circle-on:before {
  content: "";
}
.icon-poco-circle:before {
  content: "";
}
.icon-poco-home:before {
  content: "";
}
.icon-poco-me-on:before {
  content: "";
}
.icon-poco-service:before {
  content: "";
}
.icon-poco-me:before {
  content: "";
}
.icon-poco-service-on:before {
  content: "";
}
.icon-poco-home-on:before {
  content: "";
}
.icon-poco:before {
  content: "";
}
.icon-xiangyouxuanzhuan:before {
  content: "";
}
.icon-xiangzuoxuanzhuan:before {
  content: "";
}
.icon-quanping:before {
  content: "";
}
.icon-tuichuquanping:before {
  content: "";
}
.icon-top:before {
  content: "";
}
.icon-share-review:before {
  content: "";
}
.icon-reply:before {
  content: "";
}
.icon-eyes:before {
  content: "";
}
.icon-gengduo1:before {
  content: "";
}
.icon-arrow-up:before {
  content: "";
}
.icon-dianzan:before {
  content: "";
}
.icon-help-unsolve:before {
  content: "";
}
.icon-help-solve:before {
  content: "";
}
.icon-help-phone:before {
  content: "";
}
.icon-help-letters:before {
  content: "";
}
.icon-radio-checked:before {
  content: "";
}
.icon-radio-unchecked:before {
  content: "";
}
.icon-live-shopping-bag:before {
  content: "";
}
.icon-more:before {
  content: "";
}
.icon-live-send:before {
  content: "";
}
.icon-live-poll:before {
  content: "";
}
.icon-live-coupon:before {
  content: "";
}
.icon-live-quiz:before {
  content: "";
}
.icon-favorite:before {
  content: "";
}
.icon-smile:before {
  content: "";
}
.icon-lamp-bulb:before {
  content: "";
}
.icon-earphone:before {
  content: "";
}
.icon-love:before {
  content: "";
}
.icon-cellphone:before {
  content: "";
}
.icon-mouse:before {
  content: "";
}
.icon-power-bank:before {
  content: "";
}
.icon-loudspeaker:before {
  content: "";
}
.icon-band:before {
  content: "";
}
.icon-luggage:before {
  content: "";
}
.icon-help-message:before {
  content: "";
}
.icon-telephone-service:before {
  content: "";
}
.icon-manual-service:before {
  content: "";
}
.icon-vk:before {
  content: "";
}
.icon-line:before {
  content: "";
}
.icon-whatsapp:before {
  content: "";
}
.icon-Arrow:before {
  content: "";
}
.icon-mi-logo:before {
  content: "";
}
.icon-copy:before {
  content: "";
}
.icon-pc:before {
  content: "";
}
.icon-bell:before {
  content: "";
}
.icon-miui:before {
  content: "";
}
.icon-free:before {
  content: "";
}
.icon-car:before {
  content: "";
}
.icon-cart-add:before {
  content: "";
}
.icon-cart-checked:before {
  content: "";
}
.icon-cart-del:before {
  content: "";
}
.icon-arrow-down-tri:before {
  content: "";
}
.icon-arrow-left-s:before {
  content: "";
}
.icon-arrow-right-s:before {
  content: "";
}
.icon-arrow-up-l:before {
  content: "";
}
.icon-arrow-down-l:before {
  content: "";
}
.icon-facebook:before {
  content: "";
}
.icon-youtube:before {
  content: "";
}
.icon-twitter:before {
  content: "";
}
.icon-ins:before {
  content: "";
}
.icon-secure-payment:before {
  content: "";
}
.icon-service-network:before {
  content: "";
}
.icon-replacement:before {
  content: "";
}
.icon-google:before {
  content: "";
}
.icon-cart-add-24:before {
  content: "";
}
.icon-arrow-right-l:before {
  content: "";
}
.icon-arrow-left-l:before {
  content: "";
}
.icon-arrow-down-s:before {
  content: "";
}
.icon-arrow-up-s:before {
  content: "";
}
.icon-cart-empty-24:before {
  content: "";
}
.icon-price-down:before {
  content: "";
}
.icon-price-up:before {
  content: "";
}
.icon-checked:before {
  content: "";
}
.icon-cart-full-24:before {
  content: "";
}
.icon-search-24:before {
  content: "";
}
.icon-minus:before {
  content: "";
}
.icon-plus:before {
  content: "";
}
.icon-f:before {
  content: "";
}
.icon-arrow-right:before {
  content: "";
}
.icon-down:before {
  content: "";
}
.icon-jiantou:before {
  content: "";
}
.icon-select-arrow:before {
  content: "";
}
.icon-milogo:before {
  content: "";
}
.icon-remind:before {
  content: "";
}
.icon-copylink:before {
  content: "";
}
.icon-location:before {
  content: "";
}
.icon-track:before {
  content: "";
}
.icon-arrowlittle:before {
  content: "";
}
.icon-check:before {
  content: "";
}
.icon-back:before {
  content: "";
}
.icon-info:before {
  content: "";
}
.icon-edit:before {
  content: "";
}
.icon-share:before {
  content: "";
}
.icon-delete:before {
  content: "";
}
.icon-question:before {
  content: "";
}
.icon-m-home:before {
  content: "";
}
.icon-star-orange:before {
  content: "";
}
.icon-s-time:before {
  content: "";
}
.icon-s-locate:before {
  content: "";
}
.icon-s-phone:before {
  content: "";
}
.icon-s-warranty:before {
  content: "";
}
.icon-cleartext:before {
  content: "";
}
.icon-close:before {
  content: "";
}
.icon-star1:before {
  content: "";
}
.icon-delivery:before {
  content: "";
}
.icon-tag:before {
  content: "";
}
.icon-delivery1:before {
  content: "";
}
.icon-pullup:before {
  content: "";
}
.icon-pulldown:before {
  content: "";
}
.icon-volume:before {
  content: "";
}
.icon-star:before {
  content: "";
}
.icon-miextendedwarranty:before {
  content: "";
}
.icon-mute:before {
  content: "";
}
.icon-miprotect:before {
  content: "";
}
.icon-like:before {
  content: "";
}
.icon-chat:before {
  content: "";
}
.icon-google_x:before {
  content: "";
}
.icon-facebook_x:before {
  content: "";
}
.icon-email:before {
  content: "";
}
.icon-twitter_x:before {
  content: "";
}
.icon-hotline:before {
  content: "";
}
.icon-youtube_x:before {
  content: "";
}
.icon-vk_x:before {
  content: "";
}
.icon-line_x:before {
  content: "";
}
.icon-instagram_x:before {
  content: "";
}
.icon-nation:before {
  content: "";
}
.icon-account:before {
  content: "";
}
.icon-cart:before {
  content: "";
}
.icon-category:before {
  content: "";
}
.icon-home:before {
  content: "";
}
.icon-message:before {
  content: "";
}
.icon-discovery:before {
  content: "";
}
.icon-search:before {
  content: "";
}
.icon-search_bar:before {
  content: "";
}
.icon-service:before {
  content: "";
}
.icon-setting:before {
  content: "";
}

li {
  list-style: none;
}
:root {
  --skeleton-color: #eee;
}
body > img,
head > img,
html > img {
  display: none;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
}
.xm-link {
  display: inline-block;
  text-decoration: none;
}
.xm-link.xm-button {
  background-color: transparent;
  background-color: initial;
}

.xm-text {
  display: inline-block;
  white-space: break-spaces !important;
}

.hide {
  display: none !important;
}
.xm-page-hide {
  height: 0;
  position: absolute;
}

.xm-picture .xm-img {
  width: 100%;
}
.xm-img {
  color: transparent;
}
.xm-img:not([src]),
.xm-img[src=""] {
  visibility: hidden;
}
.xm-picture {
  display: inline-flex;
}
.eg .xm-text,
.gcc .xm-text,
.sa .xm-text {
  display: block;
}

.section {
  background-repeat: no-repeat;
  margin-bottom: -1px;
  position: relative;
}
.xm-page-area > main,
.xm-page-area_mobile > main {
  position: relative;
  z-index: 1;
}
.mi-bg-color {
  background-color: #fff;
}
.poco-bg-color {
  background-color: #000;
}
.kh .xm-text,
.mm .xm-text,
.th .xm-text {
  line-height: 1.5 !important;
} /*! normalize.css v3.0.2 | MIT License | git.io/normalize */

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}

abbr[title] {
  border-bottom: 0.00391rem dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

small {
  font-size: 80%;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 0.15625rem;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, sans-serif;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
fieldset {
  border: 0.00391rem solid silver;
  margin: 0 0.00781rem;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

dd,
dl,
dt,
li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.eco_name-88 {
  font-size: 0.34375rem;
  line-height: 0.42969rem;
}
.eco_name-80 {
  font-size: 0.3125rem;
  line-height: 0.39063rem;
}
.eco_name-72 {
  font-size: 0.34375rem;
  line-height: 0.35156rem;
}
.eco_slogan {
  font-size: 0.1875rem;
  line-height: 0.23438rem;
}
.eco_ksp {
  font-size: 0.11719rem;
  line-height: 0.17188rem;
}
.eco_name-radius {
  border-radius: 0.01563rem;
  font-size: 0.15625rem;
  line-height: 0.22656rem;
}
.eco_ksp-title {
  font-size: 0.125rem;
  line-height: 0.15625rem;
}
.eco_ksp-text {
  font-size: 0.09375rem;
  line-height: 0.125rem;
}
.eco_ksp-item {
  padding: 0.11719rem 0.13672rem;
}
.eco_title {
  font-size: 0.23438rem;
  line-height: 0.28125rem;
}
.eco_text {
  font-size: 0.11719rem;
  line-height: 0.15625rem;
}
.eco_note {
  font-size: 0.09375rem;
  line-height: 0.10938rem;
}
.eco_number {
  font-size: 0.42969rem;
  line-height: 0.42969rem;
}
.eco_note-text {
  font-size: 0.09375rem;
  line-height: 0.125rem;
}
.price-common {
  font-size: 0.25781rem;
  font-weight: 300;
}
.price-common .xm-price__from {
  font-size: 60%;
  margin: 0 0.03906rem;
}
.price-common .xm-price__sNum {
  font-weight: 700;
  margin: 0;
}
.price-common .xm-price__label {
  font-size: 60%;
  margin: 0;
}
.price-common .xm-price--current .xm-price__label {
  font-size: 100%;
  font-weight: 700;
}
.price-common .xm-price--sale {
  margin-right: 0.03906rem;
}
.price-common .xm-price--sale .xm-price__label,
.price-common .xm-price--sale .xm-price__sNum {
  margin: 0;
}
.price-common .xm-price--origin .xm-price__label {
  font-size: 100%;
}
.price-common .xm-price--origin .xm-price__mNum {
  margin: 0;
}

.eco_specs-title {
  font-size: 0.10938rem;
  line-height: 0.14063rem;
}
.eco_specs-label,
.eco_specs-value {
  font-size: 0.07031rem;
  line-height: 0.10156rem;
}
.f-thin {
  font-weight: 100;
}
.f-extra {
  font-weight: 200;
}
.f-light {
  font-weight: 300;
}
.f-regular {
  font-weight: 400;
}
.f-medium {
  font-weight: 500;
}
.f-semi {
  font-weight: 600;
}
.f-bold {
  font-weight: 700;
}
.f-bolder {
  font-weight: 800;
}
.f-heavy {
  font-weight: 900;
}
.xm-button,
.xm-navbar__nav-item,
.xm-price {
  font-weight: 400 !important;
}
.price-common {
  font-weight: 300 !important;
}
.price-common .xm-price--current .xm-price__label,
.price-common .xm-price__sNum {
  font-weight: 700 !important;
}

.container {
  margin: 0 auto;
  width: 1226px;
}
main {
  display: inline-block;
  font-size: 16px;
}

